# ======================================================================
#
# Pangloss configuration file.
#
# Lines starting with '#' are ignored; all other lines must contain a
# Name : Value pair to be read into the parameters dictionary.
#
# This file is part of the Pangloss project, distributed under the
# GPL v2, by Tom Collett (IoA) and  Phil Marshall (Oxford). 
# Please cite: Collett et al 2013, arxiv/###
#
# ======================================================================

# BUG: Is this ever used? Should it be?
ExperimentName: Example

# ----------------------------------------------------------------------
# Drilling
# --------

# Simulated data for calibration. One halo catalog per kappa map,
# environment variables and wildcards will be expanded:
CalibrationCatalogs: $PANGLOSS_DIR/calib/Millennium/catalog_example.*
CalibrationKappamaps: $PANGLOSS_DIR/calib/Millennium/kappa*.fits 

# Observed data:
ObservedCatalog: $PANGLOSS_DIR/example/example_catalog.txt

# Position of desired lightcone centre (in J2000 *radians*, 
# with nRA = -Right Ascension):
nRA: -0.033
Dec: -0.020
# BUG: this is a non-standard coordinate system...

# If the lightcone has a strong lens in it, set the following to > 0.0:
StrongLensRedshift: 0.6
# Both observations and calibrations must correspond to the same zs:
SourceRedshift: 1.4

# How big do you want your lightcones?
LightconeRadius: 2.0  # in arcminutes
LightconeDepth: 26.0  # AB magnitude limit
LightconeDepthBand: i

# How many calibration lightcones do you want?
NCalibrationLightcones: 1#000

# Destination directory for the calibration lightcones:
CalibrationFolder: calib

# The observed lightcone catalog is kept in the current directory.

# ----------------------------------------------------------------------
# Reconstruction
# --------------

# We want the PDF Pr(kappah|D), in the form of a list of samples - or
# equivalently, realisations of the lightcone mass distribution:
NRealisations: 10#0

StellarMass2HaloMassRelation: Behroozi 
# No other options encoded so far...

# Halo mass function catalog for empirical Pr(Mh):
HMFfile: $PANGLOSS_DIR/calib/SHMR/HaloMassRedshift.catalog

# Assumed photo z uncertainty:
PhotozError: 0.1

# Assumed Mstar uncertainty:
PhotometricMstarError: 0.45 # dex
SpectroscopicMstarError: 0.15 # dex

RayTracingScheme: sum
# The default ray-traced kappamap from Hilbert et al 2008 was made by 
# simply summing the convergences on each lens plane. If you want a more
# complicated scheme for kappa_ext or mu_ext, you will need to change
# this. This is the correct scheme for weak lensing, but may need some
# modification if the system contains a strong lens

# ----------------------------------------------------------------------
# Calibrating
# --------------

# For a robust transformation between Pr(kappah|D) and Pr(kappa|D), we 
# found we needed to go through a compression step, to reduce the
# influence of the poorly estimated high kappa halos. Pr(kappa|<kappah>)
# (where <> denotes the median) seems to work well.
Comparator: kappa_h
ComparatorType: median

# Do we want to make the joint distribution only, or do we want to slice
# that joint distribution to make the final Pr(kappa) distribution?
CalibrateMode: Joint
# CalibrateMode: JointAndSlice
# CalibrateMode: Slice


# #-------------------------------------------
# 
# RealLightconeDirectory:
# 
# DoReconstruction:True
# 
# #-------------------------------------------
# 
# WeightParameter1:kappa
# WeightParameter2:None# Not currently encoded. Changing this will do nothing.
# NormalizeSurvey:False # Not currently encoded. Changing this will do nothing.
# 
# #-------------------------------------------
# 
# #Survey details for the chosen weighting scheme; if not reconstrucing kappas
# WeightRadius:[]
# WeightBrightCut:[]
# WeightFaintCut:[]
# Band:i
# 
# #-------------------------------------------
# # This file should detail the quality of data for the real line of
# sight, this will allow the creation of an accurate calibration dataset:
# 
# #Note the calibration is extremely important, especially for kappa
# reconstructions, since converting stellar mass into an infered
# convergence is tough:
# 
# #survey details for kappa reconstructions:
# PhotometricRadius:[]
# PhotometricDepth:[]
# Photozuncertainty:[]#normal distribution error is timesed by (1+z) for each galaxy
# Band:i
# 
# SpectroscopicRadius:[]
# SpectroscopicDepth:[]
# SpectroscopicCompleteness:[1] # Not currently encoded. Changing this will do nothing.
# Band:i
# 
# StellarMass2HaloMassRelation:Behroozi 
# No other options encoded. Changing this will do nothing.
# 
# #-------------------------------------------
# 
# CalibrationLightconeDirectory:
# CalibrationResultsDirectory:
# 
# #The following must come in groups; i.e the catalogue must match with it's ray-traced results
# CalibrationCatalogue:[]
# CalibrationKappa:[]#Note the default is a kappa_add value (see Collett et al. 2013), if you want a more complicated scheme for kappa_ext or mu_ext, you will need to change this. This is the correct scheme for weak lensing, but may need some modification if the system contains a strong lens
# CalibrationGamma1:[]#as above
# CalibrationGamma2:[]#as above
# 
# 
# #-------------------------------------------
# 
# RealLightconeDirectory:
# RealResultsDirectory:
# 
# #-------------------------------------------
# 
# 
